In [1]:
import logging
import anndata
import scanpy as sc
import os
import csv
import gzip

In [9]:
dataset_dir = "C:\Research_datasets\GSE164378_Hao\GSE164378_RAW\GSM5008737_RNA_3P"
data_file = "GSM5008737_RNA_3P-matrix.mtx"
var_names_file = "GSM5008737_RNA_3P-features.tsv"
obs_names_file = "GSM5008737_RNA_3P-barcodes.tsv"
output_h5ad_file = "Hao_PBMC_GSE164378.h5ad"

data_path = os.path.join(dataset_dir,data_file)
var_names_path = os.path.join(dataset_dir,var_names_file)
obs_names_path = os.path.join(dataset_dir,obs_names_file)
output_h5ad_path = os.path.join(dataset_dir,output_h5ad_file)

In [10]:
with open(var_names_path, "r") as var_file:
    var_read = csv.reader(var_file, delimiter='\t')
    var_names = []
    for row in var_read:
        var_names.append(row[1])

In [11]:
with open(obs_names_path, "r") as obs_file:
    obs_read = csv.reader(obs_file, delimiter='\t')
    obs_names = []
    for row in obs_read:
        obs_names.append(row[0])

In [12]:
andata = sc.read(data_path) 
andata = andata.transpose()

In [14]:
andata.var_names = var_names
andata.var_names_make_unique()
andata.obs_names = obs_names
andata.obs_names_make_unique()

In [17]:
andata.shape

(161764, 33538)

In [35]:
import pandas as pd
# meta = pd.read_csv("/home/yincheng23/Hao_PBMC/GSE164378_sc.meta.data_3P.csv", index_col=0)
meta = pd.read_csv("C:\Research_datasets\GSE164378_Hao\GSE164378_sc.meta.data_3P.csv", index_col=0)
andata.obs['celltype.l1'] = meta['celltype.l1'].tolist()
andata.obs['celltype.l2'] = meta['celltype.l2'].tolist()
andata.obs['celltype.l3'] = meta['celltype.l3'].tolist()
andata.obs['Phase'] = meta['Phase'].tolist()
andata.obs['Batch'] = meta['Batch'].tolist()
andata.obs['donor'] = meta['donor'].tolist()
andata.obs['nCount_ADT'] = meta['nCount_ADT'].tolist()
andata.obs['nFeature_ADT'] = meta['nFeature_ADT'].tolist()
andata.obs['nCount_RNA'] = meta['nCount_RNA'].tolist()
andata.obs['nFeature_RNA'] = meta['nFeature_RNA'].tolist()

In [36]:
meta.head()

,Unnamed: 0,nCount_ADT,nFeature_ADT,nCount_RNA,nFeature_RNA,orig.ident,lane,donor,time,celltype.l1,celltype.l2,celltype.l3,Phase,Batch
0,L1_AAACCCAAGAAACTCA,7535,217,10823,2915,SeuratProject,L1,P2,7,Mono,CD14 Mono,CD14 Mono,G1,Batch1
1,L1_AAACCCAAGACATACA,6013,209,5864,1617,SeuratProject,L1,P1,7,CD4 T,CD4 TCM,CD4 TCM_1,G1,Batch1
2,L1_AAACCCACAACTGGTT,6620,213,5067,1381,SeuratProject,L1,P4,2,CD8 T,CD8 Naive,CD8 Naive,S,Batch1
3,L1_AAACCCACACGTACTA,3567,202,4786,1890,SeuratProject,L1,P3,7,NK,NK,NK_2,G1,Batch1
4,L1_AAACCCACAGCATACT,6402,215,6505,1621,SeuratProject,L1,P4,7,CD8 T,CD8 Naive,CD8 Naive,G1,Batch1

In [37]:
andata.obs.head()

,celltype.l1,celltype.l2,celltype.l3,Phase,Batch,donor,nCount_ADT,nFeature_ADT,nCount_RNA,nFeature_RNA
L1_AAACCCAAGAAACTCA,Mono,CD14 Mono,CD14 Mono,G1,Batch1,P2,7535,217,10823,2915
L1_AAACCCAAGACATACA,CD4 T,CD4 TCM,CD4 TCM_1,G1,Batch1,P1,6013,209,5864,1617
L1_AAACCCACAACTGGTT,CD8 T,CD8 Naive,CD8 Naive,S,Batch1,P4,6620,213,5067,1381
L1_AAACCCACACGTACTA,NK,NK,NK_2,G1,Batch1,P3,3567,202,4786,1890
L1_AAACCCACAGCATACT,CD8 T,CD8 Naive,CD8 Naive,G1,Batch1,P4,6402,215,6505,1621

In [39]:
# Briefly view adata.X
rows, cols = andata.X[:5,:].nonzero()
i = 0
for row, col in zip(rows, cols):
    if i == 20: break
    print(f'Row {row}, Column {col}, Value {andata.X[row, col]}')
    i += 1

Row 0, Column 12, Value 1.0
Row 0, Column 43, Value 2.0
Row 0, Column 48, Value 2.0
Row 0, Column 53, Value 2.0
Row 0, Column 55, Value 5.0
Row 0, Column 66, Value 1.0
Row 0, Column 77, Value 2.0
Row 0, Column 78, Value 5.0
Row 0, Column 89, Value 2.0
Row 0, Column 93, Value 3.0
Row 0, Column 102, Value 2.0
Row 0, Column 154, Value 17.0
Row 0, Column 178, Value 2.0
Row 0, Column 185, Value 1.0
Row 0, Column 190, Value 1.0
Row 0, Column 201, Value 8.0
Row 0, Column 224, Value 2.0
Row 0, Column 240, Value 1.0
Row 0, Column 259, Value 1.0
Row 0, Column 261, Value 6.0

In [41]:
output_h5ad_path = "C:\Research_datasets\Hao_PBMC_GSE164378.h5ad"
andata.write(filename=output_h5ad_path)

In [42]:
andata.shape

(161764, 33538)